<div class="addContainer">
    <!-- encabezado modal -->
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
              <div class="modal-about">
               <h4>Registro de Departamento de Trabajo</h4>
              </div>
            </div>
        </div>
          <!-- espacios para el boton cerrar -->
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-icon-button  matDialogClose class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
        </button>

    </div>
    <!-- Cuerpo del modal -->
    <div mat-dialog-content>
        <mat-progress-bar mode="indeterminate" value="100"></mat-progress-bar>
        <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)" class="register-form m-4">
          <div class="row">
            <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
              <!--INPUT DE NOMBRE-->
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Titulo</mat-label>
                    <input matInput type="text" placeholder="Ingrese el nombre de usuario" required name="titulo" [(ngModel)]="departamentos.titulo">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>record_voice_over</mat-icon>
                    <mat-error>
                    Los nombres son requeridos
                    </mat-error>
                </mat-form-field>
            </div>
          </div>
        <!---------------------------->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="example-button-row">
                    <button mat-raised-button color="primary" style="color: white !important;">Guardar</button>
                    <button mat-raised-button color="warn" tabindex="-1" matDialogClose >Cancelar</button>
                  </div>
                </div>
              </div>
        </form>
    </div>
  </div>
