<section class="content">
    <div class="content-block">
      <div class="block-header">
        <app-breadcrumb [title]="' Datos de la Empresa'" [items]="['Empresa']" [active_item]="'Empresa'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="m-b-20">
                    <div class="contact-grid">
                        <div class="profile-header bg-dark">
                            <div class="user-name">{{empresa.nombre}}</div>
                            <div class="name-center">{{empresa.direccion}}</div>
                        </div>
                        <img [src]="url+'obtener_logo/'+empresa.logo" class="user-img"  alt="Square image">
                        <br>
                        <p class="badge badge-solid-green">{{empresa.status}}</p>
                        <br>
                        <div id="mail-nav" style="text-align: left; padding-left: 20px; padding-right: 20px;">
                            <br>
                        <ul class="online-user" id="online-offline">
                            <li>
                            <i class="material-icons col-green" title="Online">brightness_1</i><strong>Correo Electronico:</strong> {{empresa.correo}}
                            </li>
                            <hr>
                            <li>
                                <i class="material-icons col-green" title="Online">brightness_1</i><strong>Nit:</strong> {{empresa.nit}}
                                </li>
                                <hr>
                                <li>
                                <i class="material-icons col-green" title="Online">brightness_1</i><strong>Telefono:</strong> {{empresa.telefono}}
                                 </li>
                                 <hr>
                        </ul>
                        </div>
                        <div class="row">
                          <div style="padding-left: 30px; padding-right: 30px;">
                          <strong>Numero de usuarios y empleados</strong>
                          <hr>
                          </div>
                        <div class="col-6">
                            <h5 class="badge badge-solid-green">{{empleados}}</h5>
                            <br>
                            <small>Empleados</small>
                            <div class="progress skill-progress" style="margin-left: 20px;">
                              <div class="progress-bar l-bg-green width-per-{{empleados}}" role="progressbar" aria-valuenow="1"
                                aria-valuemin="9" aria-valuemax=""></div>
                            </div>
                          </div>
                          <div class="col-6">
                            <h5 class="badge badge-solid-green">{{usuario}}</h5>
                            <br>
                            <small>Usuarios</small>
                            <div class="progress skill-progress" style="margin-right: 20px;">
                              <div class="progress-bar l-bg-green width-per-{{usuario}}" role="progressbar" aria-valuenow="1"
                                aria-valuemin="9" aria-valuemax=""></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="body">
              <div class="header">
                <h2>
                  <strong>Configuracion</strong> de Empresa</h2>
              </div>
              <div class="example-container">
                <form [formGroup]="empresaForm"  class="register-form m-4" (ngSubmit)="actualizar()">
                <div class="row">
                  <!-- nombre -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nombre de empresa</mat-label>
                  <input matInput type="text" required formControlName="nombre">
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>domain</mat-icon>
                  <mat-error> El nombre es requerido</mat-error>
                </mat-form-field>
                  </div>
                    <!-- direccion -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Direccion de empresa</mat-label>
                    <input matInput type="text" required formControlName="direccion">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>my_location</mat-icon>
                    <mat-error> La direccion es requerida</mat-error>
                  </mat-form-field>
                </div>
                </div>
                <div class="row">
                   <!-- Telefono  -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input matInput type="number" required formControlName="telefono"/>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>call</mat-icon>
                    <mat-error> El numero de telefono es requeridos </mat-error>
                  </mat-form-field>
                </div>
                <!-- nit -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>NIT</mat-label>
                    <input matInput type="number" required formControlName="nit" >
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>domain</mat-icon>
                    <mat-error> El NIT es requerido</mat-error>
                  </mat-form-field>
              </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!--INPUT DE CORREO-->
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Correo Electronico</mat-label>
                      <input matInput type="email" required formControlName="correo">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                      <mat-error>
                        El correo es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <!--INPUT DE PASSWORD-->
                      <mat-form-field appearance="fill" class="example-full-width">
                          <mat-label>Contraseña</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese su contraseña" required formControlName="password">
                          <a href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon class="material-icons-two-tone color-icon m-3" matSuffix>
                            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                        <mat-error>
                          Contraseña requerida
                        </mat-error>
                      </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-4">
                  <div class="row">
                    <div class="col-lg-12 form-group">
                      <h4 class="badge badge-solid-green" style="margin-left: 35px ;">Seleccione un logo</h4>
                      <br>
                      <div class="custom-file">
                        <input class="custom-file-input" type="file" id="file-input" (change)="CargarImagen($event)">
                      </div>
                      <label class="img-preview-label" for="file-input">
                        <div class="img-wrapper">
                          <img [src]="imgSelect" class="img-preview" alt="Imagen seleccionada">
                          <div class="overlay">
                            <i class="fas fa-edit edit-icon"></i>
                          </div>
                        </div>
                      </label>
                    </div>
                    
                  </div>
                </div>
                <div class="row">
                  <div  class="botonsss">
                      <button class="stiloo" type="submit">Actualizar Datos</button>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
